<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <div class="main-container">
    <img class="weather-img" src="/season.png" alt="">
    <h1 class="animate__animated animate__bounce">Weather App</h1>
    <form action="/weather" method="POST">
        <label for="city">Enter your city:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>